<% content_for :header do %>
	<h1><b><%= @evento.titulo %></b></h1>
<% end %>

<p id="notice"><%= notice %></p>
<p><%= @evento.descripcion %><br/></p>
  
  <%if @evento.fechaf.nil? %>
  	<p>para el día <b><%= @evento.fechai %></b></p>
  <%else%>
    <p>desde el <b><%= @evento.fechai %></b> al <b><%= @evento.fechaf %></b></p>
  <%end%>

<!-- tipo, categoria, estado, visitas -->

<%= link_to 'Regresar', eventos_path, "data-role"=>"button", "data-mini"=>"true", "data-icon"=>"back" %>