<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :eventtype %><br />
    <%= f.text_field :eventtype %>
  </div>
  <div class="field">
    <%= f.label :eventdate %><br />
    <%= f.date_select :eventdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
