<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Eventtype:</b>
  <%= @event.eventtype %>
</p>

<p>
  <b>Eventdate:</b>
  <%= @event.eventdate %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
