<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Administrador de eventos</title>
	<meta name="description" content="Event Manager" />
	<meta name="keywords" content="evento, administrador, upc" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1"> 
	
	<!-- jquerymobile -->
	<link rel="stylesheet" 
	      href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js">
	</script>
	
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js">
	</script>

	<!-- jquerymobile-datebox -->
	<link rel="stylesheet"
		  type="text/css"
		  href="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.min.css" />

	<script type="text/javascript"
			src="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.min.js"></script>
	<script type="text/javascript"
			src="http://dev.jtsage.com/cdn/datebox/i8n/jquery.mobile.datebox.i8n.en.js"></script>
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div data-role="page">

	<div id="header">
		<div id="logo"/>
		<div id="title"><h1 class="title">Eventos UPC</h1></div>
	</div><!-- /header -->

	<div data-role="content">
		<div id="teaser">
			<div class="wrap">
				<%= yield %>
			</div>
		</div>
	</div><!-- /content -->

	<div id="footer">
		<p>
		Configuraci&oacute;n de eventos a trav&eacute;s de la <%= link_to "consola administrativa", admin_path() %>
		</p>
		<p>
		Design: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.solucija.com/">Solucija</a>
		</p>
		<p>&copy; Copyright 2007 <a href="#">Web Application</a> &middot; All Rights Reserved</p>
	</div>

	</div><!-- /page -->

</body>
</html>
