<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Administrador de eventos</title>
	<meta name="description" content="Event Manager" />
	<meta name="keywords" content="evento, administrador, upc" />

	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div data-role="page">

	<div id="header">
		<div id="logo"/>
		<div id="title"><h1 class="title">Eventos UPC</h1></div>
		<div class="wrap">
			<ul id="menu">
				<li class="active"><%= link_to "admin", admin_path() %></li>
			</u>
		</div>
	</div><!-- /header -->

	<div data-role="content">	
		<div id="teaser">
			<div class="wrap">
				<%= yield %>
			</div>
		</div>
	</div><!-- /content -->

	<div id="footer">
		<p class="right">
			Design: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.solucija.com/">Solucija</a>
		</p>
		<p>&copy; Copyright 2007 <a href="#">Web Application</a> &middot; All Rights Reserved</p>
	</div>

	</div><!-- /page -->


	<!--div id="header">
		<h1><a href="#">Eventos UPC</a></h1>
		<br/>
		<!--ul id="menu">
			<li class="active"><a href="#">about application</a></li>
			<li><a href="#">register</a></li>
			<li><a href="#">demo</a></li>
			<li><a href="#">help</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</div-->

	<!--div id="teaser">
		<div class="wrap">
			<div class="box">
				<h2>Welcome to <em title="Sharing, Data Management and Collaboration">Web Application</em></h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis justo viverra nunc. Donec eu ipsum molestie eros condimentum malesuada. Sed quis velit vel augue sollicitudin aliquet. Quisque dignissim. Proin vehicula sem tempor velit. Pellentesque aliquam ante vitae pede. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis justo viverra nunc.</p>
			</div>
		</div>
	</div-->

	<!--div id="bar">
		<div class="wrap">
			<span class="step"><a>1</a> sharing</span>
			<span class="step"><a>2</a> data management</span>
			<span class="step"><a>3</a> collaboration</span>
		</div>
	</div-->
	
	<!--div id="teaser">
		<div class="wrap">
			<%= yield %>
		</div>
	</div-->
	
	<!--div class="wrap">
		<div class="col">
			<h3>What's <span class="red">New?</span></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer porta, ipsum sit amet ultricies congue, ante pede congue pede, id venenatis ante elit et nulla. Ut lectus nisi, convallis in, eleifend vitae, blandit non, orci. Aliquam eget ante. Cras orci ante, interdum ac, euismod et, euismod in, eros. Cras vestibulum elit quis arcu. Suspendisse lectus ligula, posuere ut, ullamcorper eget, lobortis et, tellus. Suspendisse pulvinar metus.</p>
		</div>
		<div class="col">
			<h3>User <span class="red">Statistics</span></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer porta, ipsum sit amet ultricies congue, ante pede congue pede, id venenatis ante elit et nulla. Ut lectus nisi, convallis in, eleifend vitae, blandit non, orci. Aliquam eget ante. Cras orci ante, interdum ac, euismod et, euismod in, eros. Cras vestibulum elit quis arcu. Suspendisse lectus ligula, posuere ut, ullamcorper eget, lobortis et, tellus. Suspendisse pulvinar metus.</p>
		</div>
		<div class="col last">
			<h3>About <span class="red">Web Application</span></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer porta, ipsum sit amet ultricies congue, ante pede congue pede, id venenatis ante elit et nulla. Ut lectus nisi, convallis in, eleifend vitae, blandit non, orci.</p>
			<p class="info">If you liked this template, you might like some other Free CSS Templates from <a href="http://www.solucija.com" title="Awsome Web Templates">Solucija</a>.</p>
		</div>
	</div-->
		
	<!--div id="footer">
		<p class="right">Design: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.solucija.com/">Solucija</a></p>
		<p>&copy; Copyright 2007 <a href="#">Web Application</a> &middot; All Rights Reserved</p>
	</div-->

</body>
</html>
